.i-iconbox {
  overflow: hidden;
  padding: 15px;
  background: #fff;
}
.i-iconbox .icon {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
  text-align: center;
  line-height: 46px;
  font-size: 14px;
  color: #fff;
}
.i-iconbox .icon i {
  font-size: 20px;
}
.i-iconbox .text {
  width: calc(100% - 60px);
  float: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}
.i-iconbox .number {
  font-size: 16px;
}
